<ion-tabs class="tabs-icon-top">	

	<img class = "icon-logo" src = "img/filastou-logo.svg"></img>

	<ion-tab icon-on="searchtab-on tab" icon-off="searchtab-off tab" href="#/tourist-tabs/tourist/search">
		<ion-nav-view name="search-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab icon-on="profiletab-on tab" icon-off="profiletab-off tab" href="#/tourist-tabs/tourist/profile">
		<ion-nav-view name="profile-tab"></ion-nav-view>
	</ion-tab>

	<ion-tab icon-on="settingstab-on tab" icon-off="settingstab-off tab" href="#/tourist-tabs/tourist/settings">
		<ion-nav-view name="settings-tab"></ion-nav-view>
	</ion-tab>
	
</ion-tabs>