<ion-view view-title="Settings">
	<div class = "settings-content">
		<div class="settings-table">
			<div class="settings-entry" ng-click="switch()"> 
				Switch to Guide
			</div>
		</div>
		<div class="settings-table">
			<div class="settings-entry">
				Settings
			</div>
		</div>
		<div class="settings-table">
			<div class="settings-entry">
				Learn More
			</div>
		</div>
		<div class="settings-table" onclick="window.location='#/logout'">
			<div class="settings-entry">
				Logout
			</div>
		</div>
	</div>
</ion-view>